html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s linear;
  margin-bottom: 49px;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header__logo {
  margin-right: 400px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 52px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  text-decoration: underline;
}

.header__submit {
  width: 190px;
  height: 55px;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
  border-radius: 8px;
}

.header__submit:hover,
.header__submit:active,
.write-me__button:hover,
.write-me__button:active,
.submit__form-button:hover,
.submit__form-button:active {
  border: 2px solid #1a1a1a;
}

.header-btn__link {
  text-decoration: none;
  color: #1a1a1a;
}

.about .wrapper {
  display: flex;
}

.about__title {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
}

.about__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 18px;
}

.about__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

.about__bold {
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
}

.about__infographics {
  margin-bottom: 40px;
}

.about__years {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 72px;
}

.about__years-links {
  display: block;
  width: 75px;
  height: 34px;
  align-items: center;
  padding: 3px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #727181;
  margin-right: 8px;
}

.about__years-links.active {
  color: #ffffff;
  background: #ff5058;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.principles__list {
  display: flex;
  flex-wrap: nowrap;
}

.principles__item {
  width: calc(100% / 3);
  margin-right: 47px;
}

.principles__item:last-child {
  margin-right: 0;
}

.principles__img {
  margin-bottom: 40px;
}

.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 58px;
}

.principles__title {
  width: 545px;
  margin-bottom: 123px;
  padding-top: 70px;
}

.principles__title::before {
  content: "";
  float: left;
  display: block;
  background: url(../img/line.svg);
  width: 6px;
  height: 92px;
  margin-right: 14px;
  margin-top: 10px;
}

.principles__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 15px;
}

.principles__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
  margin-bottom: 80px;
}

.cost__title {
  margin-bottom: 10px;
}

.cost__title::before,
.tools__title::before,
.reviews__title::before,
.work-style__title::before,
.customers__title::before,
.contacts__title::before {
  content: "";
  float: left;
  display: block;
  background: url(../img/line2.svg);
  width: 6px;
  height: 36px;
  margin-right: 14px;
  margin-top: 10px;
}

.cost__subtitle {
  width: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 20px;
  margin-bottom: 80px;
}

.cost__row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6da;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.cost__row.first {
  padding-bottom: 9px;
}

.cost__row.last {
  border: 0;
  margin-bottom: 50px;
}

.cost__item.main {
  margin-right: 190px;
  width: 300px;
  text-align: left;
}

.cost__item {
  text-align: center;
  width: 200px;
}

.cost__item:last-child {
  margin-right: 0;
}

.cost__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #1a1a1a;
  margin-bottom: 5px;
}

.cost__item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #727181;
}

.cost__info {
  width: 650px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #727181;
  margin-bottom: 76px;
}

.write-me {
  margin-bottom: 40px;
}

.write-me__content {
  background: url("../img/bg.png") no-repeat center center;
  max-width: 1200px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.write-me__text {
  width: 390px;
  height: 198px;
  margin-left: 100px;
  padding-top: 51px;
  padding-bottom: 51px;
}

.write-me__title,
.submit__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
  margin-bottom: 8px;
}

.write-me__subtitle,
.submit__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 30px;
}

.write-me__form {
  padding-top: 122px;
  margin-right: 100px;
}

.write-me__button,
.submit__form-button {
  width: 190px;
  height: 55px;
  background: #ffffff;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #1a1a1a;
}

.write-me__button a {
  text-decoration: none;
  color: #1a1a1a;
  font-size: 16px;
  line-height: 22px;
}

.tools__title,
.work-style__title {
  padding-top: 69px;
  margin-bottom: 80px;
}

.tools__item-title,
.work-style__item-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 15px;
}

.tools__item-text,
.work-style__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
  margin-bottom: 80px;
}

.tools__item-text.last {
  margin-bottom: 0;
}

.tools__cols,
.work-style__cols {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tools__col,
.work-style__col {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.tools__col.second {
  margin-top: -63px;
}

.tools__bottom-image,
.work-style__bottom-image {
  margin-bottom: 50px;
}

.reviews__title {
  padding-top: 70px;
  margin-bottom: 45px;
}

.work-style__item-text.last {
  margin-bottom: 50px;
}

.work-style__col.second {
  margin-top: -43px;
}

.customers__title {
  padding-top: 69px;
}

.customers,
.submit {
  margin-bottom: 40px;
}

.customers__logos {
  display: flex;
  flex-wrap: wrap;
  width: 1064px;
  height: 458px;
  margin: 0 auto;
  padding-left: 80px;
  align-items: center;
}

.customers__link {
  display: block;
}

.customers__link.first,
.customers__link.second {
  margin-right: 240px;
}

.customers__link.fourth,
.customers__link.fifth {
  margin-right: 230px;
}

.customers__link:nth-child(3n) {
  margin-right: 0;
}

.submit__content {
  background: url("../img/9.png") no-repeat center center;
  max-width: 1200px;
  height: 465px;
  display: flex;
  justify-content: space-between;
}

.submit__text {
  width: 387px;
  height: 128px;
  margin-left: 100px;
  padding-top: 111px;
  padding-bottom: 226px;
}

.submit__subtitle {
  padding-top: 5px;
}

.submit__form {
  width: 513px;
  margin-top: 110px;
  margin-right: 100px;
}

.submit__form-field {
  width: 100%;
  height: 45px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 19px;
}

.submit__form-field::placeholder {
  font-size: 400px;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 17px;
}

.agreement {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 16px;
}

.submit__form-button {
  display: block;
}

.submit__checkbox {
  width: 271px;
  display: flex;
  flex-wrap: nowrap;
}

.submit__checkbox-link,
.submit__checkbox-text {
  font-size: 400px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.submit__checkbox-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url("../img/check_box_.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px;
  margin-right: 19px;
  float: left;
}

.checkbox:checked ~ .submit__checkbox-text::before {
  background-image: url("../img/check_box_active.svg");
}

.contacts__content {
  padding-top: 69px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contacts__title {
  margin-bottom: 32px;
}

.socials__item {
  margin-bottom: 15px;
}

.socials__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
  margin-left: 15px;
}

.socials__link.whatsup {
  text-decoration: none;
}

.footer {
  height: 104px;
  background-color: #1a1a1a;
}

.footer__content {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.footer__information {
  display: flex;
  flex-wrap: nowrap;
  width: 755px;
  justify-content: space-between;
}

.footer__info-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.footer__info-item.first {
  width: 215px;
}

.footer__info-item.second {
  width: 160px;
}

.footer__info-item.third {
  width: 255px;
}

.footer__info-item:last-child {
  margin-right: 0;
}

.footer__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}
