html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s linear;
  margin-bottom: 49px;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 52px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 15px;
  font-weight: 600;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  text-decoration: underline;
}

.header__submit {
  width: 190px;
  height: 55px;
  font-weight: 600;
  background: #ffffff;
  border: 1px solid #1a1a1a;
  box-sizing: border-box;
  border-radius: 8px;
}

.header__submit:hover,
.header__submit:active {
  border: 2px solid #1a1a1a;
}

.about {
  padding-top: 149px;
}

.about .wrapper {
  display: flex;
}

.about__title {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 10px;
}

.about__subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 18px;
}

.about__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

.about__bold {
  font-size: 15px;
  font-weight: 700;
  line-height: 27px;
}

.about__infographics {
  margin-bottom: 40px;
}

.about__years {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 72px;
}

.about__years-links {
  display: block;
  width: 75px;
  height: 34px;
  align-items: center;
  padding: 3px 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #727181;
  margin-right: 8px;
}

.about__years-links.active {
  color: #ffffff;
  background: #ff5058;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.principles__list {
  display: flex;
  flex-wrap: nowrap;
}

.principles__item {
  width: calc(100% / 3);
  margin-right: 47px;
}

.principles__item:last-child {
  margin-right: 0;
}

.principles__img {
  margin-bottom: 40px;
}

.principles__title {
  width: 545px;
  font-weight: 800;
  font-size: 42px;
  line-height: 58px;
  margin-bottom: 123px;
}

.principles__title::before {
  content: "";
  float: left;
  display: block;
  background: url(../img/line.svg);
  width: 6px;
  height: 92px;
  margin-right: 14px;
  margin-top: 10px;
}

.principles__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 15px;
}

.principles__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #2b2b2b;
}
